-i https://pypi.python.org/simple/
bootstrap-flask==1.0.10
click==7.1.2
flask-moment==0.7.0
flask-sqlalchemy==2.4.0
flask-wtf==0.14.2
flask==1.0.3
greenlet==1.0.0 ; python_version >= '3'
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
python-dotenv==0.10.2
sqlalchemy==1.4.2
werkzeug==1.0.1
wtforms==2.3.3
